 <!DOCTYPE html>
 <html>
     <head>
         <meta charset="UTF-8" />
         <title>Facebook Feeds</title>
         <style>
            #form DIV, LABEL {
                display: inline;
                padding-right: 5px;
            }
            table, td {
                padding: 5px;
                border: 1px solid gray;
            }
         </style>
     </head>
     <body>
            
         <table>             
             <tr>
                 <td colspan="6">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                 </td>
             <tr>
                 <td></td>
                 <td width="10%">created</td>
                 <td width="12%">author</td>
                 <td>description</td>
                 <td width="5%">likes</td>
                 <td width="5%">comments</td>
             </tr>
            {% for feed in facebookFeeds %}
              <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ feed.created|date('Y-m-d H:i:s') }}</td>
                  <td>{{ feed.author }}</td>
                  <td>{{ feed.description | replace({'breakpage': '<br> -' }) | raw }}</td>
                  <td>{{ feed.likesCount }}</td>
                  <td>{{ feed.commentsCount }}</td>
              </tr>
            {% endfor %}
         </table>
     </body>
 </html>